<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telenav.sdk.examples">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.telenav.sdk.demo.main.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.telenav.sdk.demo.scenario.navigation.NavMainActivity"
            android:label="scenario of navigation"/>
        <activity
            android:name="com.telenav.sdk.demo.automation.AutomationMainActivity"
            android:label="Automation UI test"/>
        <activity
            android:name="com.telenav.sdk.demo.scenario.ScenarioMenuActivity"
            android:label="@string/title_activity_scenario_menu"/>

        <activity
            android:name="com.telenav.sdk.demo.scenario.mapview.MapViewActivity"
            android:theme="@style/MapViewActivityStyle"
            android:label="@string/title_activity_map_view_menu"/>

        <activity
            android:name="com.telenav.sdk.demo.scenario.ota.OtaActivity"
            android:theme="@style/MapViewActivityStyle" />

        <activity
            android:name="com.telenav.sdk.demo.scenario.search.SearchActivity"
            android:theme="@style/MapViewActivityStyle"/>
    </application>

</manifest>